<%= form_with(model: profile, url: user_profile_path) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= t("errors.messages.not_saved",
              count: profile.errors.count,
              resource: profile.class.model_name.human.downcase)
        %>
      </h2>

      <ul>
        <% profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :postal_code %>
    <%= form.text_field :postal_code %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :bio %>
    <%= form.text_area :bio, size: "20x5" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
